body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body::before {
  z-index: -1;
  content: ' ';
  position: fixed;
  width: 150%;
  height: 150vh;
  background-color: gray;
  background-image: url('./bg.jpg');
  background-size: cover;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
